<app-article-preview></app-article-preview>

<nav>
  <ul clas="pagination">
    <li class="page-item active">
      <a class="page-link">1</a>
    </li>
    <li class="page-item">
      <a class="page-link">2</a>
    </li>
    <li class="page-item">
      <a class="page-link">3</a>
    </li>
    <li class="page-item">
      <a class="page-link">4</a>
    </li>
    <li class="page-item">
      <a class="page-link">5</a>
    </li>
    <li class="page-item">
      <a class="page-link">6</a>
    </li>
    <li class="page-item">
      <a class="page-link">7</a>
    </li>
    <li class="page-item">
      <a class="page-link">8</a>
    </li>
    <li class="page-item">
      <a class="page-link">9</a>
    </li>
    <li class="page-item">
      <a class="page-link">10</a>
    </li>
    <li class="page-item">
      <a class="page-link">11</a>
    </li>
    <li class="page-item">
      <a class="page-link">12</a>
    </li>
    <li class="page-item">
      <a class="page-link">13</a>
    </li>
    <li class="page-item">
      <a class="page-link">14</a>
    </li>
    <li class="page-item">
      <a class="page-link">15</a>
    </li>
    <li class="page-item">
      <a class="page-link">16</a>
    </li>
    <li class="page-item">
      <a class="page-link">17</a>
    </li>
    <li class="page-item">
      <a class="page-link">18</a>
    </li>
    <li class="page-item">
      <a class="page-link">19</a>
    </li>
    <li class="page-item">
      <a class="page-link">20</a>
    </li>
  </ul>
</nav>
