<div class="article-preview">
  <div class="article-meta">
    <a>
      <img alt="author image" src="assets/images/avatar.png" />
    </a>
    <div class="info">
      <a class="author">Anah Benešová</a>
      <span class="date">December 9, 2022</span>
    </div>
    <app-favorite-button></app-favorite-button>
  </div>
  <a class="preview-link">
    <h1>
      If we quantify the alarm, we can get to the FTP pixel through the online
      SSL interface!
    </h1>
    <p>
      Omnis perspiciatis qui quia commodi sequi modi. Nostrum quam aut
      cupiditate est facere omnis possimus. Tenetur similique nemo illo soluta
      molestias facere quo. Ipsam totam facilis delectus nihil quidem soluta vel
      est omnis.
    </p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default-outline tag-pill">rerum</li>
      <li class="tag-default-outline tag-pill">maiores</li>
      <li class="tag-default-outline tag-pill">omnis</li>
      <li class="tag-default-outline tag-pill">quae</li>
    </ul>
  </a>
</div>
