<div class="article-preview" *ngFor="let article of articles">
  <div class="article-meta">
    <a>
      <img alt="author image" src="assets/images/avatar.png" />
    </a>
    <div class="info">
      <a class="author">{{ article.author }}</a>
      <span class="date">{{ article.date }}</span>
    </div>
    <app-favorite-button></app-favorite-button>
  </div>
  <a class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default-outline tag-pill" *ngFor="let tag of article.tags">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
