.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3rem 0;
}

.article-meta {
  display: block;
  margin: 0 0 1rem;
  position: relative;
  font-weight: 300;
}

.info {
  margin: 0 1.5rem 0 0.5rem;
  display: inline-block;
  vertical-align: auto;
  line-height: 1rem;
}

.author {
  display: block;
  font-weight: 500;
}

a {
  color: #5cb85c;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.date {
  display: block;
  color: #bbb;
  font-size: 0.8rem;
}

.preview-link {
  color: inherit;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3px;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
  margin: 0.67em 0;
}

p {
  font-weight: 300;
  color: #999;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-top: 0;
}

span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
}

.tag-list {
  float: right;
  max-width: 50%;
  vertical-align: top;
  padding-left: 0;
  display: inline-block;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
}

.tag-default-outline {
  border: 1px solid #ddd;
  color: #aaa;
  background: 0 0;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
}

.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
